<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="card">
        <h5 class="card-header">Department Form</h5>
        <div class="card-body">
            <form th:action="@{/overtimeStatus/save}" method="post" th:object="${overtimeStatus}">
                <input id="id" name="status_id" th:field="*{status_id}" placeholder="id" type="text">
                <input id="name" name="name" th:field="*{name}" placeholder="name" type="text" >
                <button type="submit">Submit</button>
            </form>  
        </div>
    </div>  
</body>
</html>