.task{
    height: 1vh;
}
.gantt{
    height: 200px;
    display:block;
    overflow-y: scroll;
    /* padding-top: 40px; */
    /* vertical-align: middle; */
}
.board{
    display: block;
    margin-top:10px;
    /* overflow-y: scroll; */
    /* margin:auto; */
}