<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    </head>
    <body>
        <div>
            <div class="row">
                <div class="col-3 p-3 mb-2">
                    <a th:href="@{region/form}" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">CREATE</a>
                    <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
                </div>
            </div>
            <!-- <a th:href="@{region/form}" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">CREATE</a> -->
            <table id="myTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input id="id" name="region_id" placeholder="id" type="hidden" />
                    <input id="name" name="name" placeholder="name" type="text" />
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var table = null;
        $(document).ready(function(){
            table = $("#myTable").DataTable({
                "ajax": {
                    "url": "http://localhost:8088/api/region",
                    "type": "GET",
                    "dataSrc": "data"
                },
                "columnDefs": [
                    {
                        "targets": 0,
                        "visible": true,
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "columns": [
                    { "data": "region_id", "name": "region_id", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += '<a th:href="#" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" onclick="findById(\'' + full.region_id + '\')">EDIT</a>  '
                            html += ' <a th:href="#" class="btn btn-danger" onclick="Delete(\'' + full.region_id + '\')">DELETE</a>'
                            return html;
                        }
                    }
                ]
            });
        });
    
        let findById = (id) => {
            $.ajax({
                url: "http://localhost:8088/api/region/"+ id,
                type: "GET" 
            }).done((response) => {
                $("#id").val(response.data.region_id);
                $("#name").val(response.data.name);
            }).fail((error) => {
                console.log(error);
            })
        }
    
        let submit = () => {
            let data = {
                region_id: $("#id").val(),
                name: $("#name").val()
            }

            $.ajax({
                url: "http://localhost:8088/api/region",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done((response) => {
                if(response.status === 200) {
                    $("#exampleModal").modal("toggle");
                    table.ajax.reload();
                }
            }).fail((error) => {
                console.log(error);
            })
        }

        let Delete = (id) => {
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                url: "http://localhost:8088/api/region/"+ id,
                type: "DELETE", 
                contentType: "application/json"
            }).done((response) => {
                if(response.status === 200) {
                Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
                )
                table.ajax.reload();
            }
            }).fail((error) => {
                console.log(error);
            })    
            }}
            
            
        )}

    
    </script>
</html>